@font-face {
  font-family: "Avenir LT Pro";
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  /* You can add additional font formats (e.g., woff2, ttf) for better browser compatibility */
}
body {
  font-family: "Avenir LT Pro", sans-serif;
  font-weight: 500;
}
